.widget {
  display: grid;
  grid-template-columns: auto 160px auto;
  grid-auto-rows: minmax(5px, auto);
  grid-gap: 20px;
  font-size: 12px;
  font-family: sans;
  line-height: 1.5;
}

.textscreenarea {
  grid-column: 3/4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.textscreen {
  background-color: #ffffff;
  border: 1px solid black;
  border-spacing: 0px;
  border-collapse: collapse;
  font-family: "Courier";
  font-size: 6pt;
  padding: 0px;
}

.textscreen tr {
  padding: 0px;
}

.textscreen tr td {
  padding: 0px;
  width: 1pt;
  height: 1pt;
}

.buttons {
  margin: 8px 0;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.start, .length {
  width: 50px;
}

.widget pre {
  margin: 0;
  padding: 0;
  background: inherit;
  border: none;
}

.code {
  margin: 0 0 6px 0;
  padding: 6px;
  border: 1px solid black;
  /* width: 420px; */
  width: 95%;
  height: 290px;
  font-family: monospace;
  overflow: auto;
  float: left;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.screen {
  float: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.debugger {
  border: 1px black solid;
  margin-top: 6px;
  padding: 3px;
  padding-top: 8px;
  height: 125px;
  width: 152px;
  text-align: center;
  float: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end; 4;
}

.minidebugger {
  margin: 0;
  margin-top: 6px;
  padding: 0;
  font-family: monospace;
  font-size: 11px;
}

.monitorControls {
  width: 587px;
  clear: both;
  /* margin-bottom: 10px; */
  padding: 0;
  grid-row: 4/5;
}

.monitorControls input {
  margin-right: 0.5em;
}

.monitor {
  margin: 10px 0;
  padding: 6px;
  border: 1px solid #999;
  background-color: #ddd;
  /* width: 587px; */
  width: 100%;
  height: 100px;
  overflow: auto;
  display: none;
  grid-row: 5/6;
  grid-column: 1/4;
}

.messages {
  margin: 0;
  padding: 6px;
  border: 1px solid #999;
  background-color: #eee;
  overflow: auto;
  /* width: 587px; */
  height: 100px;
  text-align: left;
  font-size: 12px;
  color: #444;
  grid-column: 1/4;
  grid-row: 6/7;
}

.popup {
  font-size: 14pt;
}

